<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/resume_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/resume_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="34">
        <activity
            android:name=".Activities.ProjectsActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".Activities.ExperienceActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".Activities.SkillsActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".Activities.DisplayResumeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EducationActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".Activities.PersonalDetailsActivity"
            android:windowSoftInputMode="adjustNothing"
            android:exported="false" />
        <activity
            android:name=".Activities.DataCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>